<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>layout</title>
    </head>

    <h1>1</h1>

    <section class="pagina">
        <section class="linha">
            <div></div>
        </section>
        
        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
            <div class="top_div"></div>
        </section>

        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>2</h1>

    <section class="pagina">
        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
        </section>
        
        <section class="linha">
            <div></div>
        </section>

        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_quadrada"></div>
        </section>
    </section>

    <h1>3</h1>

    <section class="pagina">
        <section class="linha">
            <div class="top_div"></div> 
            <div class="dois_quadrados"></div>
        </section>
        
        <section class="linha">
            <div class="div_ancora"></div>
            <div class="top_div"></div> 
            <div class="top_div"></div> 
            
        </section>

        <section class="linha">
            <div class="div_ancora"></div>
            <div class="div_ancora"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>4</h1>

    <section class="pagina">
        <section class="linha">
            <div class="top_div"></div> 
            <div class="div_quadrada"></div>
            <div class="top_div"></div> 
        </section>
        
        <section class="linha">
            <div class="div_ancora"></div>
            <div class="top_div"></div> 
            <div class="top_div"></div> 
            
        </section>

        <section class="linha">
            <div class="div_ancora"></div>
            <div class="div_ancora"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>5</h1>

    <section class="pagina">
        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
            <div class="top_div"></div> 
        </section>
        
        <section class="linha">
            <div class="dois_quadrados top_div"></div>
            <div class="top_div"></div> 
        </section>

        <section class="linha">
            <div class="dois_quadrados div_ancora"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>6</h1>

    <section class="pagina">
        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
        </section>
        
        <section class="linha">
            <div></div>
        </section>

        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_quadrada"></div>
        </section>
    </section>

    <h1>7</h1>

    <section class="pagina">
        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="top_div"></div>
            <div class="top_div"></div>
        </section>
        
        <section class="linha">
            <div class="top_div"></div>
            <div class="div_ancora"></div>
            <div class="div_ancora"></div>
        </section>

        <section class="linha">
            <div class="div_ancora"></div>
            <div class="dois_quadrados"></div>
        </section>
    </section>

    <h1>8</h1>

    <section class="pagina">
        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="div_quadrada div_placeholder"></div>
            <div class="div_quadrada div_placeholder"></div>
        </section>
        
        <section class="linha">
            <div class="top_div"></div>
            <div class="top_div"></div>
            <div class="top_div"></div>
        </section>

        <section class="linha">
            <div class="div_ancora"></div>
            <div class="div_ancora"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>9</h1>

    <section class="pagina">
        <section class="linha">
            <div></div>
        </section>
        
        <section class="linha">
            <div class="top_div"></div>
            <div class="div_quadrada"></div>
            <div class="top_div"></div>
        </section>

        <section class="linha">
            <div class="div_ancora"></div>
            <div class="div_quadrada"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>10</h1>

    <section class="pagina">
        <section class="linha">
            <div></div>
        </section>
        
        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="top_div"></div>
        </section>

        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>11</h1>

    <section class="pagina">
        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="top_div"></div>
        </section>
        
        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_ancora"></div>
        </section>

        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="dois_quadrados"></div>
        </section>
    </section>

    <h1>12</h1>

    <section class="pagina">
        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="top_div"></div>
        </section>
        
        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_ancora"></div>
        </section>

        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="dois_quadrados"></div>
        </section>
    </section>

    <h1>13</h1>

    <section class="pagina">
        <section class="linha">
            <div class="top_div"></div>
            <div class="dois_quadrados"></div>
        </section>
        
        <section class="linha">
            <div class="top_div"></div>
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
        </section>

        <section class="linha">
            <div class="div_ancora"></div>
            <div class="dois_quadrados"></div>
        </section>
    </section>

    <h1>14</h1>

    <section class="pagina">
        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="dois_quadrados"></div>
        </section>
        
        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_quadrada"></div>
        </section>

        <section class="linha">
            <div></div>
        </section>
    </section>

    <h1>15</h1>

    <section class="pagina">
        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="dois_quadrados"></div>
        </section>
        
        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="top_div"></div>
        </section>

        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>16</h1>

    <section class="pagina">
        <section class="linha">
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
        </section>
        
        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="top_div"></div>
        </section>

        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>17</h1>

    <section class="pagina">
        <section class="linha">
            <div class="top_div"></div>
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
        </section>
        
        <section class="linha">
            <div class="div_ancora"></div>
            <div class="div_quadrada"></div>
            <div class="top_div"></div>
        </section>

        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_ancora"></div>
        </section>
    </section>

    <h1>18</h1>

    <section class="pagina">
        <section class="linha">
            <div class="top_div"></div>
            <div class="div_quadrada"></div>
            <div class="div_quadrada"></div>
        </section>
        
        <section class="linha">
            <div class="div_ancora"></div>
            <div class="dois_quadrados"></div>
        </section>

        <section class="linha">
            <div class="dois_quadrados"></div>
            <div class="div_quadrada"></div>
        </section>
    </section>
</html>